<% if @comments%>



<% @comments.each do |comment|%>
<span>Author : <%= comment.author.name%></span>
<p>Title: <%= comment.text %></p>
   <%= link_to "Show Comment", author_post_comment_path(comment.author_id,comment.post_id,comment.id),class:"btn btn-primary" %>

<% end %>
 <% else %>
 <h4> No comment</h4>
     <%= link_to "Comment", new_author_post_comment_path(params[:author_id],params[:post_id]), class:"btn btn-secondary" %>

 
 <% end %>