
 <div class="container">
<h1>User Posts</h1>

 <%= link_to 'New post ', new_author_post_path(params[:author_id]),class:"btn btn-secondary" %>
   <%= link_to "Back to Users", authors_path, class:"btn btn-secondary" %>
<%= render "posts" %>
 </div>
